@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

html {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* overflow: hidden; */
}

body {
    background-image: url("../img/contents_bg.jpg");
    overflow-y: hidden;
}

* {
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

/* header */

header {
    width: 100%;
    height: 80px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.05), #154733, rgba(0, 0, 0, 0.05));
    font-size: 0px;
    text-align: center;
    display: inline-block;
    padding: 10px 0px;
    position: relative;
    vertical-align: baseline;
}

.logo a {
    width: 70px;
    height: 70px;
    background-image: url("../img/logo2.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 5px;
}


nav {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    margin-top: 10px;
    animation: fade 2s;
}

nav a {
    font-size: 1.8rem;
    margin: 5px 0px 0px 3rem;
    text-decoration: none;
    list-style: none;
    color: white;
    white-space: nowrap;
}

nav>a::after {
    content: '';
    display: block;
    background-color: #b54800;
    height: 5px;
    transition: width .3s .2s;
    width: 0px;
}

a:hover::after {
    width: 100%;
}

.icon {
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 5px;
    animation: rollAndLeftin 1s;
}

.user {
    background-image: url("../img/user_ic.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 0px 0px 5px 0px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

.menu {
    background-image: url("../img/food_ic.svg");
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 0px 0px 5px 0px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

/* footer */

footer {
    width: 100%;
    height: 100px;
    background-image: url("../img/footer_bg.png");
    background-color: #F3ECE0;
    color: white;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
}

footer article {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

div.name {
    display: inline-block;
}

div.zh {
    font-size: 35px;
}

span.en {
    font-size: 21px;
    text-align: center;
}

footer p.addr {
    display: inline-block;
    margin: 0 60px;
    font-size: 1.2rem;
}

footer p.copyright {
    position: absolute;
    bottom: 0px;
    right: 20px;
    font-size: 1rem;

}

span.fb a {
    background-image: url("../img/facebook(1).svg");
    background-size: 100%;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

span.fp a {
    background-image: url("../img/foodpanda(1).svg");
    background-size: 100%;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

span.ue a {
    background-image: url("../img/ubereats.svg");
    background-size: 100%;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

div.outweb {
    display: flex;
    height: 100%;
    align-items: center;
    padding-top: 10px;
}

/* === hidelist === */

.hidelist {
    position: fixed;
    width: 250px;
    top: 20%;
    right: 10px;
    display: none;
    z-index: 4;
}


.receipt {
    position: relative;
    /* background: rgb(147, 163, 154); */
    /* background: #FEFBF6; */
    background: #fafafa;
    overflow: hidden;
    z-index: 4;
    padding: 10px 0 10px 0;
    border-radius: 0 0 60px 0;
    filter: drop-shadow(0 0 3px #bbb);
}

.hidelist span {
    position: absolute;
    right: -15px;
    bottom: -5px;
    width: 50px;
    height: 50px;
    content: '';
    display: block;
    background: linear-gradient(120deg, rgb(201, 197, 197) 50%, rgb(0, 0, 0, 0)85%);
    box-shadow: -1px -1px rgba(100, 89, 89, 0.185);
    filter: drop-shadow(-3px -px 5px rgba(0, 0, 0, 0.075));
    transform: rotatez(-20deg);
}

.receipt::before {
    content: '';
    position: absolute;
    border-top: 10px dotted rgb(50, 50, 88);
    opacity: 0.5;
    width: 100%;
    top: -5px;
    right: -10px;
}


.receipt::after {
    content: '';
    position: absolute;
    border-bottom: 10px dotted #002;
    opacity: 0.5;
    width: 100%;
    bottom: -5px;
    right: -10px;
}

.r-top {
    display: flex;
    justify-content: space-between;
    font-size: 1px;
    padding-top: 8px;
    text-align: center;
    align-items: center;
}

.r-top button {
    background: none;
    cursor: pointer;
}

.r-top p {
    font-size: 0.1rem;
    position: absolute;
    top: 20px;
    left: 22px;
}

.r-top .r-top-l {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transform: scaleX(-1);
}

.r-top .r-top-r {
    width: 25px;
    height: 25px;
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    border-bottom: 2px solid black;
    padding-bottom: 2px;
}

.r-list {
    min-height: 200px;
    max-height: 45vh;
    overflow: auto;
    width: 90%;
    margin: 0 auto;
    display: flex;
    font-size: 0.1rem;
    margin-bottom: 1.2rem;
}

.r-list-box {
    display: flex;
}

.r-list ul {
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

.r-list li {
    margin-top: 5px;
}

.list-name {
    width: 55%;
}

.list-num {
    flex: 1;
}

.list-del {
    padding: 0;
    margin: 0;
    width: 8%;
    background: none;
}

.list-pri {
    flex: 1;
}

.total-box {
    width: 80%;
    margin: 0 auto;
    font-size: 1rem;
    display: flex;
    border-top: 2px solid black;
    justify-content: space-between;
    position: relative;
}

.total-box button {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-101%);
    background: none;
    z-index: 6;
}

.order-done {
    width: 80px;
    height: 30px;
    display: block;
    margin: 0px auto 10px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    padding: .25rem .2rem;
    background: #ee772b;
    border: 2px solid #742e02;
    border-radius: 0.75rem;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
    position: relative;
}

.order-done::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #b44900;
    border-radius: inherit;
    box-shadow: 0 0 0 1px black,
        1px 0 0 #b548005d;
    transform: translate3d(0, 0.5em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
        box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.order-done:hover {
    background: #ee772b;
    transform: translate(0em, 0.5em);
}


.order-done:hover::before {
    box-shadow: 0 0 0 2px #742e02,
        0 0.5em 0 0 #b548005d;
    transform: translate3d(0, 0.3em, -1em);
}

.order-done:active {
    background: #ee772b;
    transform: translate(0em, 0.75em);
}

.order-done:active::before {
    box-shadow: 0 0 0 2px #742e02,
        0 0 #b548005d;
    transform: translate3d(0, 0, -1em);
}




/* oderlist */

.oderlist {
    display: none;
    position: fixed;
    top: 20vh;
    right: 300px;
    width: 800px;
    background: #FEFBF6;
    z-index: 3;
    overflow-y: auto;
    overflow-x: hidden;
}

.oderlist .header {
    height: 50px;
    /* background: #222d42; */
    /* background: #302206; */
    background: #212121ea;
}

.oderlist-m,
.oderlist-b {
    width: 50%;
    display: inline-block;
    font-size: 1.6rem;
    text-align: center;
    background: #154733;
    color: white;
}

.topic {
    display: flex;
    font-size: 1.6rem;
    text-align: center;
    white-space: nowrap;
    justify-content: center;
    background: blanchedalmond;
    box-sizing: content-box;
    margin: -0.5px;
    padding: 0;
}

.topic01 a,
.topic02 a {
    flex: 1;
    color: #154733;
    border: black 0.01px solid;
}

.topic02 {
    display: none;
}


.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.food-card {
    margin: 1.25rem;
    width: 13rem;
    background: white;
    height: 4.375rem;
    display: flex;
    border: black 1px solid;
}

.food-card .food-card-l {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.food-card .food-card-r {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.food-card-l h4 {
    height: 60%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #154733;
}

.food-card-l select {
    height: 40%;
}


.food-card-r .add {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-card-r .price {
    height: 50%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add button {
    height: 1.56rem;
    width: 1.56rem;
    background: #ed7727;
    color: white;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select {
    display: flex;
    justify-content: center;
}

.numbox {
    width: 60%;
    height: 20px;
    display: flex;
}

.numbtn {
    flex: 1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.numbtn-l {
    transform: scaleX(-1);
}

.numbtn img {
    height: 1rem;
    width: 1rem;
}

.num {
    flex: 1;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
}

/*      animation     */

@keyframes fir {
    0% {
        opacity: 0;
        transform: translate3d(100%, 100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes d-down {
    0% {
        transform: rotateX(-90deg);
    }

    100% {
        transform: perspective(350px) rotateX(0deg);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes zoom {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rollAndLeftin {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        right: -100px;
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rollAndRightin {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        left: -100px;
    }

    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

@keyframes erro {
    0% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(0px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes erro2 {
    0% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(5px);
    }
}

/* --rwd-- */

@media screen and (min-width: 1401px) {
    html {
        font-size: 15px;
    }

    .hide_meau {
        display: none !important;
    }

}

@media screen and (min-width: 901px) and (max-width: 1400px) {
    html {
        font-size: 14px;
    }

    .hide_meau {
        display: none !important;
    }

}

@media screen and (max-width: 900px) {
    html {
        font-size: 12px;
    }

    header {
        display: none;
    }

    .hide_header {
        height: 80px;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.05), #154733, rgba(0, 0, 0, 0.05));
        text-align: center;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hide_on {
        background-color: black;
        height: 5px;
        width: 50px;
        position: relative;
    }

    .hide_icon {
        margin: 0 20px 0 0;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .hide_on::before {
        content: "";
        position: absolute;
        height: 5px;
        width: 50px;

        box-shadow: 0 10px 0 black,
            0 -10px 0 black;
        top: 0;
        bottom: 0;
        left: 0;
    }

    .hide_meau a {
        display: block;
        font-size: 1.2rem;
        padding: 10px;
        text-align: center;
        color: white;
        transition: 1s;
    }

    .hide_meau a:hover {
        color: #ed7727;
        transform: translateY(-2px);
    }

    .hide_meau {
        background-color: #154733;
        display: none;
        transition: max-height 1s ease-out;
        max-height: 0;
    }

    footer {
        background-image: none;
        height: auto;
        background-color: rgb(44, 42, 42);
    }

    footer article {
        flex-direction: column;
        height: auto;
        white-space: nowrap;
    }

}

@media screen and (max-width: 575px) {
    html {
        font-size: 10px;
    }

    .copyright {
        display: none;
    }

    .flipout {
        width: 300px;
    }
}

@media screen and (max-width: 350px) {
    html {
        font-size: 9px;
    }

}