@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

html {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-image: url("../img/contents_bg.jpg");
    overflow-y: hidden;
}

* {
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

/* header */

header {
    width: 100%;
    height: 80px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.05), #154733, rgba(0, 0, 0, 0.05));
    font-size: 0px;
    text-align: center;
    display: inline-block;
    padding: 10px 0px;
    position: relative;
    vertical-align: baseline;
}

.logo a {
    width: 70px;
    height: 70px;
    background-image: url("../img/logo2.svg");
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 5px;
    transition: 0.5s;
}

.logo a:hover {
    transform: scale(1.05);
}

nav {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    margin-top: 10px;
    animation: fade 2s;
}

nav a {
    font-size: 1.8rem;
    margin: 5px 0px 0px 3rem;
    text-decoration: none;
    list-style: none;
    color: white;
    white-space: nowrap;
}

nav>a::after {
    content: '';
    display: block;
    background-color: #b54800;
    height: 5px;
    transition: width .3s .2s;
    width: 0px;
}

a:hover::after {
    width: 100%;
}

.icon {
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 5px;
    animation: rollAndLeftin 1s;
}

.user {
    background-image: url("../img/user_ic.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 0px 0px 5px 0px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    transition: 1s;
}

.user2 {
    background-image: url("../img/user_ic3.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    display: none;
    margin: 0px 0px 5px 0px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    transition: 1s;
}

.menu {
    background-image: url("../img/food_ic.svg");
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 0px 0px 5px 0px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    transition: 1s;
}

.user2:hover,
.user:hover,
.menu:hover {
    transform: scale(1.1);
}

/* footer */

footer {
    width: 100%;
    height: 100px;
    background-image: url("../img/footer_bg.png");
    background-color: #F3ECE0;
    color: white;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
}

.backOpen {
    position: absolute;
    font-size: 0.1rem;
    color: white;
    cursor: pointer;
    left: 15px;
    top: 15px;
}

footer article {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

div.name {
    display: inline-block;
}

div.zh {
    font-size: 35px;
}

span.en {
    font-size: 21px;
    text-align: center;
}

footer p.addr {
    display: inline-block;
    margin: 0 60px;
    font-size: 1.2rem;
}

footer p.copyright {
    position: absolute;
    bottom: 0px;
    right: 20px;
    font-size: 1rem;

}

span.fb a {
    background-image: url("../img/facebook(1).svg");
    background-size: 100%;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

span.fp a {
    background-image: url("../img/foodpanda(1).svg");
    background-size: 100%;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

span.ue a {
    background-image: url("../img/ubereats.svg");
    background-size: 100%;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

div.outweb {
    display: flex;
    height: 100%;
    align-items: center;
    padding-top: 10px;
}

/* loginpage */

.hidebg {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #002;
    width: 100%;
    opacity: 0.5;
    display: none;
    z-Index: 2;
}

.flipout {
    position: fixed;
    width: 400px;
    top: 30%;
    left: 50%;
    z-Index: 3;
    transform: translateX(-50%);
    border-radius: 20px;
    perspective: 1000px;
    display: none;
}

.flip {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.flip.-on {
    transform: rotateY(180deg);
}

.flip span {
    font-size: 1rem;
    position: absolute;
    color: #000;
    padding: 5px;
    cursor: pointer;
    transition: 1s;
    background: blanchedalmond;
    border-radius: 5px;
    opacity: 0;
}

.flip span.-on {
    /* transform: translateX(100%); */
    opacity: 1;
}

.hidebox span:nth-child(3) {
    top: 50%;
    right: 0;
    transform: translateX(100%)translateY(-100%);
}

.hidebox span:nth-child(4) {
    top: 50%;
    right: 0;
    transform: translateX(100%)translateY(50%);
}

.hidebox .loginErroText {
    position: absolute;
    right: 50%;
    top: 15%;
    font-size: 0.1rem;
    color: red;
    transform: translateX(50%);
}

.signin_page span:nth-child(3) {
    top: 50%;
    right: 0;
    transform: translateX(100%)translateY(-50%);
}


.hidebox {
    width: 100%;
    z-Index: 4;
    background-color: #FDFCFA;
    border-radius: 20px;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.hidebox.-on {
    animation: zoom 1s;
}

.hidebox.-erro {
    animation: erroRotate 0.1s;
}

.hgtop {
    width: 100%;
    height: 50px;
    font-size: 0;
    background: #154733;
    border-radius: 20px 20px 0 0;
    margin: 0px 1px 0px 0;
}

.login {
    display: inline-block;
    width: 50%;
    font-size: 1.8rem;
    text-align: center;
    line-height: 50px;
    color: #154733;
    border-radius: 20px 20px 0 0;
    font-weight: bold;
    background: #fff;
    position: absolute;
    top: -3px;
    left: 0;
    padding-bottom: 3px;
}

.signin1 {
    display: inline-block;
    width: 50%;
    font-size: 1.8rem;
    text-align: center;
    line-height: 50px;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
    /* background-color: #154733; */
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 0;
    transition: 1.5s ease-in;
}

.signin1:hover p {
    transform: translateY(-3px);
}

.form {
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    padding: 10px 0 20px;
}

.form .group {
    text-align: center;
    width: 80%;
    margin: auto;
    position: relative;
}

.form .group2 {
    position: relative;
}

.group1 {
    position: relative;
}

.group1 p {
    position: absolute;
    right: 3px;
    bottom: 3rem;
    font-size: 0.1rem;
    color: red;
    display: none;
}

.group2 p {
    position: absolute;
    right: 3px;
    bottom: 3rem;
    font-size: 0.1rem;
    color: red;
    display: none;
}

.group2 .eye {
    background: none;
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 8px;
    right: 5px;
    padding: 0;
}

.form label {
    /* margin: 3px 0; */
    display: block;
    text-align: left;
    font-size: 1.6rem;
}

.form input {
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 6px 0 6px 8px;
    margin: 2px 0;
    transition: all;
}

.form input.-erro {
    animation: erroShake 0.1s;
    border: 1px solid red;
}

.form input:focus {
    border: 1px solid #154733;
}

.outerherf {
    width: 80%;
    margin: 20px auto 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.outerherf img {
    height: 30px;
    width: 30px;
}

.outerherf .google {
    background-color: #f44336;

}

.outerherf .fb2 {
    background-color: #3A559F
}

.outerherf .twe {
    background-color: #50ABF1
}

.outerherf button {
    width: 30%;
    height: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in;
}

.outerherf button:hover img {
    transform: translateY(-2px);
}

.btnbox {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.btnbox button {
    width: 40%;
    height: 30px;
    border-radius: 5px;
    background-color: #ee772b;
}

.btnbox button.back {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #ee772b;
    border: 2px solid #742e02;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

.btnbox button.back::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #b44900;
    border-radius: inherit;
    box-shadow: 0 0 0 2px black,
        0 0.625em 0 0 #b548005d;
    transform: translate3d(0, 0.5em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
        box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.btnbox button.back:hover {
    background: #ee772b;
    transform: translate(0em, 0.5em);
}


.btnbox button.back:hover::before {
    box-shadow: 0 0 0 2px #742e02,
        0 0.5em 0 0 #b548005d;
    transform: translate3d(0, 0.4em, -1em);
}

.btnbox button.back:active {
    background: #ee772b;
    transform: translate(0em, 0.75em);
}

.btnbox button.back:active::before {
    box-shadow: 0 0 0 2px #742e02,
        0 0 #b548005d;
    transform: translate3d(0, 0, -1em);
}

/* loginbtn */

.btnbox button.loginbtn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #ee772b;
    border: 2px solid #742e02;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
    ;
}

.btnbox button.loginbtn::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #b44900;
    border-radius: inherit;
    box-shadow: 0 0 0 2px black,
        0 0.625em 0 0 #b548005d;
    transform: translate3d(0, 0.5em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
        box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.btnbox button.loginbtn:hover {
    background: #ee772b;
    transform: translate(0em, 0.5em);
}


.btnbox button.loginbtn:hover::before {
    box-shadow: 0 0 0 2px #742e02,
        0 0.5em 0 0 #b548005d;
    transform: translate3d(0, 0.4em, -1em);
}

.btnbox button.loginbtn:active {
    background: #ee772b;
    transform: translate(0em, 0.75em);
}

.btnbox button.loginbtn:active::before {
    box-shadow: 0 0 0 2px #742e02,
        0 0 #b548005d;
    transform: translate3d(0, 0, -1em);
}

/*      註冊頁      */

.signin_page {
    width: 100%;
    left: 50%;
    z-Index: 3;
    background-color: #FDFCFA;
    border-radius: 20px;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
}

.signin_2 {
    display: inline-block;
    width: 50%;
    font-size: 1.8rem;
    text-align: center;
    line-height: 50px;
    border-radius: 20px 20px 0 0;
    background: #fff;
    color: #154733;
    font-weight: bold;
    position: absolute;
    top: -3px;
    right: 0;
    padding-bottom: 3px;
    transition: 1s;
}

.login_2:hover p {
    transform: translateY(-3px);
}

.login_2 {
    display: inline-block;
    width: 50%;
    font-size: 1.8rem;
    text-align: center;
    line-height: 50px;
    color: #fff;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
    font-weight: bold;
    background: #154733;
}

.form .group3 {
    margin-bottom: 20px;
}

.group3 p,
.group4 p,
.group5 p {
    position: absolute;
    right: 3px;
    bottom: 3rem;
    font-size: 0.1rem;
    color: red;
    display: none;
}

/* loginbtn */

.btnbox button.signinbtn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #ee772b;
    border: 2px solid #742e02;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
    white-space: nowrap;
}

.btnbox button.signinbtn::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #b44900;
    border-radius: inherit;
    box-shadow: 0 0 0 2px black,
        0 0.625em 0 0 #b548005d;
    transform: translate3d(0, 0.5em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
        box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.btnbox button.signinbtn:hover {
    background: #ee772b;
    transform: translate(0em, 0.5em);
}


.btnbox button.signinbtn:hover::before {
    box-shadow: 0 0 0 2px #742e02,
        0 0.5em 0 0 #b548005d;
    transform: translate3d(0, 0.4em, -1em);
}

.btnbox button.signinbtn:active {
    background: #ee772b;
    transform: translate(0em, 0.75em);
}

.btnbox button.signinbtn:active::before {
    box-shadow: 0 0 0 2px #742e02,
        0 0 #b548005d;
    transform: translate3d(0, 0, -1em);
}

/* === hidelist === */

.hidelist {
    position: fixed;
    width: 250px;
    top: 15%;
    right: 10px;
    display: none;
    z-index: 4;
}




.receipt {
    position: relative;
    /* background: rgb(147, 163, 154); */
    /* background: #FEFBF6; */
    background: #fafafa;
    overflow: hidden;
    z-index: 4;
    padding: 10px 0 10px 0;
    border-radius: 0 0 48px 0;
    /* filter: drop-shadow(0 0 3px #bbb); */
}

.hidelist span {
    position: absolute;
    right: -20px;
    bottom: -5px;
    width: 50px;
    height: 50px;
    content: '';
    display: block;
    background: linear-gradient(120deg, rgb(201, 197, 197) 50%, rgb(0, 0, 0, 0)85%);
    box-shadow: -1px -1px rgba(100, 89, 89, 0.185);
    filter: drop-shadow(-3px -px 5px rgba(0, 0, 0, 0.075));
    transform: rotatez(-20deg);
}

.receipt::before {
    content: '';
    position: absolute;
    border-top: 10px dotted rgb(50, 50, 88);
    opacity: 0.5;
    width: 100%;
    top: -5px;
    right: -10px;
}


.receipt::after {
    content: '';
    position: absolute;
    border-bottom: 10px dotted #002;
    opacity: 0.5;
    width: 100%;
    bottom: -5px;
    right: -10px;
}

.r-top {
    display: flex;
    justify-content: space-between;
    font-size: 1px;
    padding-top: 8px;
    text-align: center;
    align-items: center;
}

.r-top button {
    background: none;
    cursor: pointer;
}

.r-top p {
    font-size: 0.1rem;
    position: absolute;
    top: 20px;
    left: 22px;
}

.r-top .r-top-l {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transform: scaleX(-1);
    transition: 2s;
}

.r-top .r-top-r {
    width: 25px;
    height: 25px;
    font-size: 1.5rem;
}

.receipt h3 {
    font-size: 1.3rem;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    border-bottom: 2px solid black;
    padding-bottom: 2px;
}

.r-list {
    min-height: 200px;
    max-height: 45vh;
    overflow: auto;
    width: 90%;
    margin: 0 auto;
    display: flex;
    font-size: 0.1rem;
    margin-bottom: 1.2rem;
}

.r-list-box {
    display: flex;
}

.r-list ul {
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

.r-list li {
    margin-top: 5px;
}

.list-name {
    width: 55%;
}

.list-num {
    flex: 1;
}

.list-del {
    padding: 0;
    margin: 0;
    width: 8%;
    background: none;
}

.list-pri {
    flex: 1;
}

.total-box {
    width: 80%;
    margin: 0 auto;
    font-size: 1rem;
    display: flex;
    border-top: 2px solid black;
    justify-content: space-between;
    position: relative;
}

.total-box button {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-101%);
    background: none;
    z-index: 6;
}

.oderwarn {
    position: absolute;
    font-size: 0.1rem;
    color: red;
    bottom: 20px;
    left: 20px;

}

.order-done {
    width: 80px;
    height: 30px;
    display: block;
    margin: 0px auto 10px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    padding: .25rem .2rem;
    background: #999;
    border-radius: 0.75rem;
    cursor: not-allowed;
}

.order-done.-active {
    width: 80px;
    height: 30px;
    display: block;
    margin: 0px auto 10px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    padding: .25rem .2rem;
    background: #ee772b;
    border: 2px solid #742e02;
    border-radius: 0.75rem;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
    position: relative;
    cursor: pointer;
}

.order-done.-active::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #b44900;
    border-radius: inherit;
    box-shadow: 0 0 0 1px black,
        1px 0 0 #b548005d;
    transform: translate3d(0, 0.5em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
        box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.order-done.-active:hover {
    background: #ee772b;
    transform: translate(0em, 0.5em);
}

.order-done.-active:hover::before {
    box-shadow: 0 0 0 2px #742e02,
        0 0.5em 0 0 #b548005d;
    transform: translate3d(0, 0.3em, -1em);
}

.order-done.-active:active {
    background: #ee772b;
    transform: translate(0em, 0.75em);
}

.order-done.-active:active::before {
    box-shadow: 0 0 0 2px #742e02,
        0 0 #b548005d;
    transform: translate3d(0, 0, -1em);
}

/* oderlist */

.oderlist {
    display: none;
    position: fixed;
    top: 15%;
    right: 300px;
    width: 800px;
    background: #FEFBF6;
    z-index: 3;
    overflow-x: hidden;
}

.oderlist .header {
    height: 3.125rem;
    /* background: #222d42; */
    /* background: #302206; */
    background: #212121ea;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oderlist .header p {
    font-size: 1.6rem;
    color: white;
}

.oderlist .header button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 0;
    background: none;
    color: white;
    display: none;
}

.oderlist .oderlist-m,
.oderlist .oderlist-b {
    width: 50%;
    display: inline-block;
    font-size: 1.6rem;
    text-align: center;
    background: #154733;
    color: white;
}

.oderlist section {
    font-size: 0;
}

.oderlist .topic {
    display: flex;
    font-size: 1.6rem;
    text-align: center;
    white-space: nowrap;
    justify-content: center;
    background: blanchedalmond;
    box-sizing: content-box;
    margin: -0.5px;
    padding: 0;
}

.topic01 a,
.topic02 a {
    flex: 1;
    color: #154733;
    border: black 0.01px solid;
}

.oderlist .topic02 {
    display: none;
}

.topic01 a:first-child .food-topic {
    background: #ffa75a;
}


.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.food-card {
    margin: 1.25rem;
    width: 13rem;
    background: white;
    height: 4.375rem;
    display: flex;
    border: black 1px solid;
}

.food-card.-erro {
    animation: erroShake 0.1s;
}

.food-card .food-card-l {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.food-card .food-card-r {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-right: 7px;
}

.food-card-l h4 {
    height: 60%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #154733;
}

.food-card-l select {
    height: 40%;
}


.food-card-r .add {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-card-r .price {
    height: 50%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add button {
    height: 1.56rem;
    width: 1.56rem;
    background: #ed7727;
    color: white;
    font-size: 2.2rem;
    font-weight: 650;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select {
    display: flex;
    justify-content: center;
}

.numbox {
    width: 60%;
    height: 20px;
    display: flex;
}

.numbtn {
    flex: 1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.numbtn-l {
    transform: scaleX(-1);
}

.numbtn img {
    height: 1rem;
    width: 1rem;
}

.num {
    flex: 1;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
}

/*     memberCenter      */
.mcOuter {
    position: fixed;
    width: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 4;
}

.mcenter {
    position: relative;
    background-color: #FCFAF6;
    z-index: 4;
    border-radius: 20px;
    text-align: center;
}

.mcenter.-on {
    animation: zoom 1s;
}

.mcDel {
    position: absolute;
    right: 8px;
    top: 10px;
    padding: 0;
    font-size: 1.4rem;
    color: white;
    background-color: transparent;
}

.center_header {
    background: #154733;
    width: 100%;
    height: 40px;
    border-radius: 20px 20px 0 0;
    color: white;
    font-size: 1.6rem;
    line-height: 40px;
}

.iconBox {
    width: 100%;
    height: 30px;
    background: blanchedalmond;
    display: flex;
    text-align: center;
    justify-content: center;
}

.iconBox .icb {
    border: 1px solid black;
    flex: 1;
}

.iconBox .ic1 {
    background: #ffa756;
}

.icb img {
    width: 25px;
    height: 25px;
}

.mcenter li {
    font-size: 1.5rem;
    padding: 5px;
    color: #154733;
}

.centerOut {
    padding-top: 10px;
    padding-bottom: 10px;
}

.centerOut .cout_btn {
    width: 80px;
    height: 30px;
    display: block;
    margin: 0px auto 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    padding: .25rem .2rem;
    background: #ee772b;
    border: 2px solid #742e02;
    border-radius: 0.75rem;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
    position: relative;
}

.centerOut .cout_btn::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #b44900;
    border-radius: inherit;
    box-shadow: 0 0 0 1px black,
        1px 0 0 #b548005d;
    transform: translate3d(0, 0.5em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
        box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.centerOut .cout_btn:hover {
    background: #ee772b;
    transform: translate(0em, 0.5em);
}

.centerOut .cout_btn::before {
    box-shadow: 0 0 0 2px #742e02,
        0 0.5em 0 0 #b548005d;
    transform: translate3d(0, 0.3em, -1em);
}

.centerOut .cout_btn:active {
    background: #ee772b;
    transform: translate(0em, 0.75em);
}

.centerOut .cout_btn:active::before {
    box-shadow: 0 0 0 2px #742e02,
        0 0 #b548005d;
    transform: translate3d(0, 0, -1em);
}

.mcenter ul {
    /* display: none; */
    opacity: 0;
    transition: 1s;
}

.-erro {
    animation: erroRotate 0.1s;
}

/*      animation     */

@keyframes fir {
    0% {
        opacity: 0;
        transform: translate3d(100%, 100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes d-down {
    0% {
        transform: rotateX(-90deg);
    }

    100% {
        transform: perspective(350px) rotateX(0deg);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes zoom {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rollAndLeftin {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        right: -100px;
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rollAndRightin {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        left: -100px;
    }

    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

@keyframes erroShake {
    0% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(0px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0px);
    }
}


@keyframes erroRotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg)
    }

    50% {
        transform: rotate(0deg)
    }

    75% {
        transform: rotate(-5deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

/* --rwd-- */

@media screen and (min-width: 1600px) {
    html {
        font-size: 15px;
    }

    .hide_header {
        display: none;
    }

    .hide_meau {
        display: none !important;
    }

}

@media screen and (min-width:1401px) and (max-width: 1599px) {
    .hide_header {
        display: none;
    }

    .hide_meau {
        display: none !important;
    }
}

@media screen and (min-width:1251px) and (max-width: 1400px) {
    html {
        font-size: 14px;
    }

    .hide_header {
        display: none;
    }

    .hide_meau {
        display: none !important;
    }

}

@media screen and (min-width:901px) and (max-width:1250px) {
    .oderlist {
        width: 500px;
        max-height: 400px;
        overflow-y: auto;
    }

    .hide_header {
        display: none;
    }

    .hide_meau {
        display: none !important;
    }
}

@media screen and (max-width: 900px) {
    html {
        font-size: 12px;
    }

    header {
        display: none;
    }

    .hide_header {
        height: 80px;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.05), #154733, rgba(0, 0, 0, 0.05));
        text-align: center;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hide_on {
        background-color: black;
        height: 5px;
        width: 50px;
        position: relative;
    }

    .hide_icon {
        margin: 0 20px 0 0;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .hide_on::before {
        content: "";
        position: absolute;
        height: 5px;
        width: 50px;

        box-shadow: 0 10px 0 black,
            0 -10px 0 black;
        top: 0;
        bottom: 0;
        left: 0;
    }

    .hide_meau a {
        display: block;
        font-size: 1.2rem;
        padding: 10px;
        text-align: center;
        color: white;
        transition: 1s;
    }

    .hide_meau a:hover {
        color: #ed7727;
        transform: translateY(-2px);
    }

    .hide_meau {
        background-color: #154733;
        display: none;
        transition: max-height 1s ease-out;
        max-height: 0;
        position: relative;
        z-index: -1;
    }

    .hide_meau .a_user2 {
        display: none;
    }

    footer {
        background-image: none;
        height: auto;
        background-color: rgb(44, 42, 42);
    }

    footer article {
        flex-direction: column;
        height: auto;
        white-space: nowrap;
    }

    .oderlist {
        top: 50%;
        right: 50%;
        transform: translateX(50%) translatey(-50%);
    }

    .hidelist {
        top: 50%;
        right: 50%;
        transform: translateX(50%) translatey(-50%);
    }

    .oderlist .header button {
        display: block;
    }
}

@media screen and (max-width: 840px) {
    .oderlist {
        width: 500px;
        max-height: 400px;
    }

    .oderlist .header button {
        display: block;
    }
}

@media screen and (max-width: 575px) {
    html {
        font-size: 10px;
    }

    .copyright {
        display: none;
    }

    .flipout {
        width: 290px;
    }

    .loginbtn {
        white-space: nowrap;
    }

    .oderlist {
        width: 300px;
    }

    .oderlist .food-card {
        width: 125px;
    }

    .oderlist .header button {
        display: block;
    }
}

@media screen and (max-width: 350px) {
    html {
        font-size: 9px;
    }

    .logo a {
        width: 60px;
        height: 60px;
        top: 10px;
    }

    .oderlist .header button {
        display: block;
    }

    .oderlist {
        width: 290px;
    }
}