@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

html {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;

}

* {
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* header */

header {
    width: 100%;
    /* border: 5px solid red; */
    height: 80px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.05), #154733, rgba(0, 0, 0, 0.05));
    font-size: 0px;
    /* color: ; */
    text-align: center;
    display: inline-block;
    padding: 10px 0px;
    position: relative;
    vertical-align: baseline;
}

.logo a {
    /* border: 5px solid purple; */
    width: 70px;
    height: 70px;
    background-image: url("../img/logo2.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 5px;
}


nav {
    display: flex;
    /* border: 5px solid #2fdf9e; */
    width: 100%;
    height: 50px;
    justify-content: center;
    margin-top: 10px;
}

nav a {
    /* border: 5px solid #1eff1e; */
    font-size: 1.8rem;
    margin: 5px 0px 0px 3rem;
    text-decoration: none;
    list-style: none;
    color: white;
    white-space: nowrap;
}

nav>a::after {
    content: '';
    display: block;
    background-color: #b54800;
    height: 5px;
    transition: width .3s .2s;
    width: 0px;
}

a:hover::after {
    width: 100%;
}

.icon {
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 5px;


}

.user a {
    /* border: 5px solid red; */
    background-image: url("../img/user_ic.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 0px 0px 5px 0px;
}

.menu a {
    /* border: 5px solid red; */
    background-image: url("../img/food_ic.svg");
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 0px 0px 5px 0px;
}

/* footer */

footer {
    width: 100%;
    /* border: 5px solid #3700ffc2; */
    height: 100px;
    background-image: url("../img/footer_bg.png");
    background-color: #F3ECE0;
    color: white;
    font-size: 1rem;
    position: relative;
}

footer article {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

div.name {
    /* border: 5px solid purple; */
    display: inline-block;
    /* position: absolute; */
    /* bottom: 5px; */
    /* text-align: center; */
    /* left: 650px; */
}

div.zh {
    font-size: 35px;
}

span.en {
    font-size: 21px;
    text-align: center;
}

footer p.addr {
    /* border: 5px solid purple; */
    /* position: absolute; */
    /* bottom: 30px; */
    /* left: 830px; */
    display: inline-block;
    /* line-height: 100%; */
    margin: 0 60px;
    font-size: 1.2rem;
}

footer p.copyright {
    /* border: 5px solid purple; */
    position: absolute;
    bottom: 0px;
    right: 20px;
    font-size: 1rem;

}



span.fb a {
    background-image: url("../img/facebook(1).svg");
    background-size: 100%;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

span.fp a {
    background-image: url("../img/foodpanda(1).svg");
    background-size: 100%;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

span.ue a {
    background-image: url("../img/ubereats.svg");
    background-size: 100%;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

div.outweb {
    /* position: absolute; */
    /* bottom: 10px; */
    /* right: 500px; */
    /* left: 1150px; */
    /* border: 5px solid purple; */
    display: flex;
    height: 100%;
    align-items: center;
    padding-top: 10px;
}

/* --rwd-- */

@media screen and (min-width: 1401px) {
    html {
        font-size: 15px;
    }

    .hide_meau {
        display: none;
    }

}

@media screen and (min-width: 901px) and (max-width: 1400px) {
    html {
        font-size: 14px;
    }

    .hide_meau {
        display: none;
    }

}

@media screen and (max-width: 900px) {
    html {
        font-size: 12px;
    }

    header {
        display: none;
    }

    /* .news {
                padding: 5px;
            } */

    .hide_header {
        /* border: 5px solid red; */
        height: 80px;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.05), #154733, rgba(0, 0, 0, 0.05));
        text-align: center;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* display: none; */
    }

    .hide_on {
        background-color: black;
        height: 5px;
        width: 50px;
        position: relative;
        /* margin: 0; */
    }

    .hide_icon {
        margin: 0 20px 0 0;
        height: 50px;
        width: 50px;
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .hide_on::before {
        content: "";
        position: absolute;
        height: 5px;
        width: 50px;

        box-shadow: 0 10px 0 black,
            0 -10px 0 black;
        top: 0;
        bottom: 0;
        left: 0;
    }

    .hide_meau a {
        display: block;
        font-size: 1.2rem;
        padding: 10px;
        text-align: center;
        color: white;
    }

    .hide_meau {
        background-color: #154733;
        display: none;
    }

    footer {
        background-image: none;
        height: auto;
        background-color: rgb(44, 42, 42);
    }

    footer article {
        flex-direction: column;
        height: auto;
    }

}

@media screen and (max-width: 575px) {
    html {
        font-size: 10px;
    }

    .copyright {
        display: none;
    }

}