h1 {
    position: absolute;
    color: #FFF;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 120px;
    height: 35px;
    margin: auto;
    font-weight: bold;
    white-space: nowrap;
    font-size: 2em;
    width: 145px;
    height: 40px;
    line-height: normal;
    text-transform: uppercase;
}

.top {
    width: 100%;
    /* height: 300px; */
    /* border: 5px solid red; */
    /* background-image: url("../img/inner_top.jpg"); */
    /* background-size: 100% 100%; */
    /* background-repeat: no-repeat; */
    position: relative;
}

.top img {
    /* display: inline; */
    vertical-align: middle;
}

.container {
    border: 5px solid red;
    width: 100%;
    background-image: url("../img/contents_bg.jpg");


}

main {
    margin: auto;
    border: 5px solid #000;
    width: 80%;
    height: 900px;
    font-size: 0;
}

aside {
    width: 20%;
    border: 5px solid rgb(110, 17, 218);
    height: 100%;
    display: inline-block;
}

article {
    width: 80%;
    border: 5px solid rgb(13, 214, 114);
    height: 100%;
    display: inline-block;
}