        .banner {
            width: 100%;
            margin: auto;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        div.container {
            width: 100%;
            display: flex;
            justify-content: center;
            background-image: url("../img/contents_bg.jpg");
        }

        body {
            font-size: 0;
        }

        main {
            width: 60%;
            text-align: center;
        }

        .process {
            width: 100%;
            background-size: 100%;
            background-repeat: no-repeat;
            /* opacity: 0; */
            /* bottom: REM(778);
            animation: bounceInLeft 0.7s 0s forwards; */
        }

        .process.-on {
            /* width: 100%;
            background-size: 100%;
            background-repeat: no-repeat;
            opacity: 0;
            bottom: REM(778); */
            animation: bounceInLeft 0.7s 0s forwards;
        }

        h1 {
            text-align: center;
            font-size: 2.5rem;
            color: white;
            margin: 100px auto 60px;
            background-color: #ee772b;
            width: 200px;
            border-radius: 20px;
            padding: 0.7rem 0.1rem;
            font-weight: bold;

        }

        .top {
            background-image: url("../img/contents_bg.jpg");
        }

        .news {
            border: 15px solid #154733;
            border-radius: 50px;
            width: 100%;
            margin: 0px auto 0px;
            font-size: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 0px 50px 0px 50px;
            opacity: 0;
        }

        .news.-on {
            animation: bounceInRight 0.7s 0s forwards;
        }


        .calendar {
            opacity: 0;
        }

        .calendar.-on {
            animation: bounceInDown 1.2s 0s forwards;
        }

        .news .event {
            width: 100%;
            margin: 40px auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .rank {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }

        iframe {
            width: 90%;
            height: 500px;
            min-height: 300px;
            min-width: 300px;
            margin: 0 0 80px 0;
        }

        .food {
            width: 30%;
            display: inline-block;
            background-color: rgba(255, 255, 255, 0.25);
            box-shadow: 3px 3px 5px 6px rgba(204, 204, 204, 0.589);
            position: relative;

        }

        .food img {
            vertical-align: middle;
        }

        .ftxt {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 20px;
            background-color: rgb(0, 0, 0, .5);
            display: flex;
            justify-content: center;
            flex-direction: column;
            opacity: 0;
            transition: 1s;
        }

        .ftxt:hover {
            opacity: 1;
        }

        h2 {
            font-size: 2rem;
            color: #fff;

        }

        .ftxt p {
            font-size: 1.5rem;
            color: #fff;
        }

        .news .event p.sale {
            font-size: 1.8rem;
            color: rgba(21, 71, 51, 0.8);
            font-weight: bold;
        }

        .news .event p.date {
            font-size: 1.1rem;
            color: #ee772b;
        }

        .news .event a {
            text-decoration: none;
        }

        .news .more {
            font-size: 1.8rem;
            background-color: rgba(21, 71, 51);
            color: white;
            padding: 15px;
            border-radius: 10px 10px 0 0;
            margin: 0 0 -0.5px 0;
        }

        .news a.show_more {
            text-decoration: none;
        }



        .hidebg {
            position: absolute;
            left: 0px;
            top: 0px;
            background-color: #002;
            width: 100%;
            opacity: 0.5;
            display: none;
            z-Index: 2;
        }

        .flipout {
            position: fixed;
            width: 400px;
            top: 30%;
            left: 50%;
            z-Index: 3;
            transform: translateX(-50%);
            border-radius: 20px;
            perspective: 1000px;
            display: none;
        }

        .flip {
            transition: 1s;
            transform-style: preserve-3d;
            position: relative;
        }

        .flip.-on {
            transform: rotateY(180deg);
        }

        label {}

        /* loginpage */

        .hidebox {
            width: 100%;
            /* top: 30%;
            left: 50%; */
            z-Index: 4;
            /* transform: translateX(-50%); */
            background-color: #FDFCFA;
            border-radius: 20px;
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
        }

        .hidebox.-on {
            animation: zoom 1s;
        }

        .hgtop {
            width: 100%;
            height: 50px;
            font-size: 0;
            background: #154733;
            border-radius: 20px 20px 0 0;
            margin: 0px 1px 0px 0;
        }

        .login {
            display: inline-block;
            width: 50%;
            font-size: 1.2rem;
            text-align: center;
            line-height: 50px;
            color: #154733;
            border-radius: 20px 20px 0 0;
            font-weight: bold;
            background: #fff;
            position: absolute;
            top: -3px;
            left: 0;
            padding-bottom: 3px;
        }

        .signin1 {
            display: inline-block;
            width: 50%;
            font-size: 1.2rem;
            text-align: center;
            line-height: 50px;
            border-radius: 20px 20px 0 0;
            cursor: pointer;
            /* background-color: #154733; */
            color: #fff;
            font-weight: bold;
            position: absolute;
            top: 0px;
            right: 0;
            transition: 1.5s ease-in;
        }

        .signin1:hover p {
            transform: translateY(-3px);
        }

        .form {
            font-size: 1.2rem;
            width: 100%;
            text-align: center;
            padding: 10px 0 20px;
        }

        .form .group {
            text-align: center;
            width: 80%;
            margin: auto;
        }

        .form label {
            line-height: 2;
            display: block;
            text-align: left;
        }

        .form input {
            width: 100%;
            border: 1px solid #aaa;
            line-height: 3;
            border-radius: 5px;
        }

        .outerherf {
            width: 80%;
            margin: 20px auto 20px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

        }

        .outerherf img {
            height: 30px;
            width: 30px;
        }

        .outerherf .google {
            background-color: #f44336;

        }

        .outerherf .fb2 {
            background-color: #3A559F
        }

        .outerherf .twe {
            background-color: #50ABF1
        }

        .outerherf button {
            width: 30%;
            height: 35px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 1s ease-in;
        }

        .outerherf button:hover img {
            transform: translateY(-2px);
        }

        .btnbox {
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
        }

        .btnbox button {
            width: 40%;
            height: 30px;
            border-radius: 5px;
            background-color: #ee772b;
        }

        .btnbox button.back {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            color: white;
            text-transform: uppercase;
            padding: 1.25em 2em;
            background: #ee772b;
            border: 2px solid #742e02;
            border-radius: 0.75em;
            transform-style: preserve-3d;
            transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
            ;
        }

        .btnbox button.back::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #b44900;
            border-radius: inherit;
            box-shadow: 0 0 0 2px black,
                0 0.625em 0 0 #b548005d;
            transform: translate3d(0, 0.5em, -1em);
            transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
                box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
        }

        .btnbox button.back:hover {
            background: #ee772b;
            transform: translate(0em, 0.5em);
        }


        .btnbox button.back:hover::before {
            box-shadow: 0 0 0 2px #742e02,
                0 0.5em 0 0 #b548005d;
            transform: translate3d(0, 0.4em, -1em);
        }

        .btnbox button.back:active {
            background: #ee772b;
            transform: translate(0em, 0.75em);
        }

        .btnbox button.back:active::before {
            box-shadow: 0 0 0 2px #742e02,
                0 0 #b548005d;
            transform: translate3d(0, 0, -1em);
        }

        /* loginbtn */

        .btnbox button.loginbtn {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            color: white;
            text-transform: uppercase;
            padding: 1.25em 2em;
            background: #ee772b;
            border: 2px solid #742e02;
            border-radius: 0.75em;
            transform-style: preserve-3d;
            transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
            ;
        }

        .btnbox button.loginbtn::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #b44900;
            border-radius: inherit;
            box-shadow: 0 0 0 2px black,
                0 0.625em 0 0 #b548005d;
            transform: translate3d(0, 0.5em, -1em);
            transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
                box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
        }

        .btnbox button.loginbtn:hover {
            background: #ee772b;
            transform: translate(0em, 0.5em);
        }


        .btnbox button.loginbtn:hover::before {
            box-shadow: 0 0 0 2px #742e02,
                0 0.5em 0 0 #b548005d;
            transform: translate3d(0, 0.4em, -1em);
        }

        .btnbox button.loginbtn:active {
            background: #ee772b;
            transform: translate(0em, 0.75em);
        }

        .btnbox button.loginbtn:active::before {
            box-shadow: 0 0 0 2px #742e02,
                0 0 #b548005d;
            transform: translate3d(0, 0, -1em);
        }

        /* 註冊頁 */

        .signin_page {
            width: 100%;
            left: 50%;
            z-Index: 3;
            background-color: #FDFCFA;
            border-radius: 20px;
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            transform: rotateY(180deg);
        }

        .signin_2 {
            display: inline-block;
            width: 50%;
            font-size: 1.2rem;
            text-align: center;
            line-height: 50px;
            border-radius: 20px 20px 0 0;
            background: #fff;
            color: #154733;
            font-weight: bold;
            position: absolute;
            top: -3px;
            right: 0;
            padding-bottom: 3px;
            transition: 1s;
        }

        .login_2:hover p {
            transform: translateY(-3px);
        }

        .login_2 {
            display: inline-block;
            width: 50%;
            font-size: 1.2rem;
            text-align: center;
            line-height: 50px;
            color: #fff;
            border-radius: 20px 20px 0 0;
            cursor: pointer;
            font-weight: bold;
            background: #154733;
        }

        .form .group3 {
            margin-bottom: 20px;
        }

        /* hidelist */

        .hidelist {
            position: fixed;
            width: 250px;
            height: 500px;
            top: 20%;
            right: 10px;
            /* background-color: #ddd; */
            display: none;
            z-index: 4;
        }

        .receipt {
            position: relative;
            background: rgb(147, 163, 154);
            height: 400px;
            overflow: hidden;
            z-index: 4;
            /* display: none; */
        }

        .receipt::before {
            content: '';
            position: absolute;
            border-top: 10px dotted #002;
            opacity: 0.5;
            width: 100%;
            top: -5px;
            right: -10px;
        }

        .receipt::after {
            content: '';
            position: absolute;
            border-bottom: 10px dotted #002;
            opacity: 0.5;
            width: 100%;
            bottom: -5px;
            right: -10px;
        }

        .r-top {
            display: flex;
            justify-content: space-between;
            font-size: 1px;
            padding-top: 8px;
            text-align: center;
        }

        .r-top p {}

        .r-top .r-top-l {
            width: 25px;
            height: 25px;
            cursor: pointer;
        }

        .r-top .r-top-r {
            width: 25px;
            height: 25px;
            cursor: pointer;
        }

        h3 {}

        .r-list {
            height: 200px;
        }

        .hidelist span {}

        /* oderlist */

        .oderlist {
            display: none;
            position: fixed;
            top: 20vh;
            right: 300px;
            width: 800px;
            height: 500px;
            background: #aaa;
            z-index: 3;
            overflow-y: scroll;
        }

        .oderlist-m,
        .oderlist-b {
            width: 50%;
            display: inline-block;
            font-size: 1.6rem;
            text-align: center;
        }

        .topic {
            display: flex;
            font-size: 1.6rem;
            text-align: center;
            white-space: nowrap;
            justify-content: center;
        }

        .topic01 .food-topic {
            width: 25%;
        }

        .topic01 a,
        .topic02 a {
            flex: 1;
        }

        .topic01 .food-topic {
            display: inline-block;
        }

        .topic02 {
            /* display: none; */
        }

        .wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        .food-card {
            margin: 20px;
            width: 200px;
            background: white;
            height: 70px;
            display: flex;
        }

        .food-card .food-card-l {
            display: flex;
            flex-direction: column;
            width: 80%;
        }

        .food-card .food-card-r {
            display: flex;
            flex-direction: column;
            width: 20%;
        }

        .food-card-l h4 {
            height: 70%;
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .food-card-l select {
            height: 30%;
        }


        .food-card-r .add {
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .food-card-r .price {
            height: 50%;
        }

        .add button {
            height: 30px;
            width: 30px;
            background: #ed7727;
            color: white;
            font-size: 3rem;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        /* animate */

        @keyframes bounceInLeft {

            from,
            60%,
            75%,
            90%,
            to {
                animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            }

            0% {
                opacity: 0;
                transform: translate3d(-2000px, 0, 0);
            }

            60% {
                opacity: 1;
                transform: translate3d(25px, 0, 0);
            }

            75% {
                transform: translate3d(-10px, 0, 0);
            }

            90% {
                transform: translate3d(10px, 0, 0);
            }

            100% {
                opacity: 1;
                transform: none;
            }
        }

        @keyframes bounceInRight {

            from,
            60%,
            75%,
            90%,
            to {
                animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            }

            0% {
                opacity: 0;
                transform: translate3d(3000px, 0, 0);
            }

            60% {
                opacity: 1;
                transform: translate3d(-25px, 0, 0);
            }

            75% {
                transform: translate3d(10px, 0, 0);
            }

            90% {
                transform: translate3d(-5px, 0, 0);
            }

            100% {
                opacity: 1;
                transform: none;
            }
        }

        @keyframes bounceInDown {

            from,
            60%,
            html {
                font-size: 15px;
            }

            75%,
            90%,
            to {
                animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            }

            0% {
                opacity: 0;
                transform: translate3d(0, 500px, 0);
            }

            60% {
                opacity: 1;
                transform: translate3d(0, -25px, 0);
            }

            75% {
                transform: translate3d(0, 10px, 0);
            }

            90% {
                transform: translate3d(0, -5px, 0);
            }

            100% {
                opacity: 1;
                transform: none;
            }
        }

        /* .ggwp,
        .ggwp p {
            font-size: 1.5rem;
            position: fixed;
            left: 0;
            top: 50%;
            display: inline-block;
            width: 50px;
            height: 50px;
            background-color: green;
            color: #fff;
        } */

        .gotop {
            width: 50px;
            height: 50px;
            position: fixed;
            bottom: 1000px;
            right: 20px;
            cursor: pointer;
            opacity: 0;
            visibility: hidden;
            transition: .9s ease-out;
        }

        .gotop.-on {
            opacity: 1;
            visibility: visible;
            bottom: 30px;
        }

        /* --rwd-- */
        @media screen and (min-width: 1401px) {
            h1 {
                margin: 6.25rem auto 3.75rem;
            }
        }

        @media screen and (max-width: 1400px) {
            h1 {
                width: 170px;
                margin: 6.25rem auto 3.75rem;
            }
        }

        @media screen and (max-width: 900px) {
            main {
                width: 90%;
            }

            h1 {
                width: 145px;
                margin: 6.25rem auto 3.75rem;
            }
        }

        @media screen and (max-width: 575px) {
            main {
                width: 100%;
            }

            h1 {
                width: 120px;
                margin: 6.25rem auto 3.75rem;
            }

            .rank {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .food {
                width: 50%;
                margin: 10px auto;
            }

            .news .event {
                flex-direction: column;
                margin: 10px auto;
            }

            .flipout {
                width: 290px;
            }

            .loginbtn {
                white-space: nowrap;
            }
        }