        .banner {
            width: 100%;
            margin: auto;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        div.container {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            background-image: url("../img/contents_bg.jpg");
        }

        body {
            font-size: 0;
        }

        main {
            width: 60%;
            text-align: center;
        }

        .process {
            width: 100%;
            background-size: 100%;
            background-repeat: no-repeat;
            /* opacity: 0; */
            /* bottom: REM(778);
            animation: bounceInLeft 0.7s 0s forwards; */
        }

        .process.-on {
            /* width: 100%;
            background-size: 100%;
            background-repeat: no-repeat;
            opacity: 0;
            bottom: REM(778); */
            -webkit-animation: bounceInLeft 0.7s 0s forwards;
            animation: bounceInLeft 0.7s 0s forwards;
        }

        h1 {
            text-align: center;
            font-size: 2.5rem;
            color: white;
            margin: 100px auto 60px;
            background-color: #ee772b;
            width: 200px;
            border-radius: 20px;
            padding: 0.7rem 0.1rem;
            font-weight: bold;

        }

        .top {
            background-image: url("../img/contents_bg.jpg");
        }

        .news {
            border: 15px solid #154733;
            border-radius: 50px;
            width: 100%;
            margin: 0px auto 0px;
            font-size: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            padding: 0px 50px 0px 50px;
            opacity: 0;
        }

        .news.-on {
            -webkit-animation: bounceInRight 0.7s 0s forwards;
            animation: bounceInRight 0.7s 0s forwards;
        }


        .calendar {
            opacity: 0;
        }

        .calendar.-on {
            -webkit-animation: bounceInDown 1.2s 0s forwards;
            animation: bounceInDown 1.2s 0s forwards;
        }

        .news .event {
            width: 100%;
            margin: 40px auto;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        .rank {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
        }

        iframe {
            width: 90%;
            height: 500px;
            min-height: 300px;
            min-width: 300px;
            margin: 0 0 80px 0;
        }

        .food {
            width: 30%;
            display: inline-block;
            background-color: rgba(255, 255, 255, 0.25);
            -webkit-box-shadow: 3px 3px 5px 6px rgba(204, 204, 204, 0.589);
            box-shadow: 3px 3px 5px 6px rgba(204, 204, 204, 0.589);
            position: relative;
        }

        .food img {
            vertical-align: middle;
        }

        .ftxt {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 20px;
            background-color: rgb(0, 0, 0, .5);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            opacity: 0;
            -webkit-transition: 1s;
            transition: 1s;
        }

        .ftxt:hover {
            opacity: 1;
        }

        h2 {
            font-size: 2rem;
            color: #fff;

        }

        .ftxt p {
            font-size: 1.5rem;
            color: #fff;
        }

        .news .event p.sale {
            font-size: 1.8rem;
            color: rgba(21, 71, 51, 0.8);
            font-weight: bold;
        }

        .news .event p.date {
            font-size: 1.1rem;
            color: #ee772b;
        }

        .news .event a {
            text-decoration: none;
        }

        .news .more {
            font-size: 1.8rem;
            background-color: rgba(21, 71, 51);
            color: white;
            padding: 1rem;
            border-radius: 10px 10px 0 0;
            margin: 0 0 -0.5px 0;
        }

        .news a.show_more {
            text-decoration: none;
        }






        /* animate */

        @-webkit-keyframes bounceInLeft {

            from,
            60%,
            75%,
            90%,
            to {
                -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            }

            0% {
                opacity: 0;
                -webkit-transform: translate3d(-2000px, 0, 0);
                transform: translate3d(-2000px, 0, 0);
            }

            60% {
                opacity: 1;
                -webkit-transform: translate3d(25px, 0, 0);
                transform: translate3d(25px, 0, 0);
            }

            75% {
                -webkit-transform: translate3d(-10px, 0, 0);
                transform: translate3d(-10px, 0, 0);
            }

            90% {
                -webkit-transform: translate3d(10px, 0, 0);
                transform: translate3d(10px, 0, 0);
            }

            100% {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }

        @keyframes bounceInLeft {

            from,
            60%,
            75%,
            90%,
            to {
                -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            }

            0% {
                opacity: 0;
                -webkit-transform: translate3d(-2000px, 0, 0);
                transform: translate3d(-2000px, 0, 0);
            }

            60% {
                opacity: 1;
                -webkit-transform: translate3d(25px, 0, 0);
                transform: translate3d(25px, 0, 0);
            }

            75% {
                -webkit-transform: translate3d(-10px, 0, 0);
                transform: translate3d(-10px, 0, 0);
            }

            90% {
                -webkit-transform: translate3d(10px, 0, 0);
                transform: translate3d(10px, 0, 0);
            }

            100% {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }

        @-webkit-keyframes bounceInRight {

            from,
            60%,
            75%,
            90%,
            to {
                -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            }

            0% {
                opacity: 0;
                -webkit-transform: translate3d(3000px, 0, 0);
                transform: translate3d(3000px, 0, 0);
            }

            60% {
                opacity: 1;
                -webkit-transform: translate3d(-25px, 0, 0);
                transform: translate3d(-25px, 0, 0);
            }

            75% {
                -webkit-transform: translate3d(10px, 0, 0);
                transform: translate3d(10px, 0, 0);
            }

            90% {
                -webkit-transform: translate3d(-5px, 0, 0);
                transform: translate3d(-5px, 0, 0);
            }

            100% {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }

        @keyframes bounceInRight {

            from,
            60%,
            75%,
            90%,
            to {
                -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            }

            0% {
                opacity: 0;
                -webkit-transform: translate3d(3000px, 0, 0);
                transform: translate3d(3000px, 0, 0);
            }

            60% {
                opacity: 1;
                -webkit-transform: translate3d(-25px, 0, 0);
                transform: translate3d(-25px, 0, 0);
            }

            75% {
                -webkit-transform: translate3d(10px, 0, 0);
                transform: translate3d(10px, 0, 0);
            }

            90% {
                -webkit-transform: translate3d(-5px, 0, 0);
                transform: translate3d(-5px, 0, 0);
            }

            100% {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }

        @-webkit-keyframes bounceInDown {

            from,
            60%,
            html {
                font-size: 15px;
            }

            75%,
            90%,
            to {
                -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            }

            0% {
                opacity: 0;
                -webkit-transform: translate3d(0, 500px, 0);
                transform: translate3d(0, 500px, 0);
            }

            60% {
                opacity: 1;
                -webkit-transform: translate3d(0, -25px, 0);
                transform: translate3d(0, -25px, 0);
            }

            75% {
                -webkit-transform: translate3d(0, 10px, 0);
                transform: translate3d(0, 10px, 0);
            }

            90% {
                -webkit-transform: translate3d(0, -5px, 0);
                transform: translate3d(0, -5px, 0);
            }

            100% {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }

        @keyframes bounceInDown {

            from,
            60%,
            html {
                font-size: 15px;
            }

            75%,
            90%,
            to {
                -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
                animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            }

            0% {
                opacity: 0;
                -webkit-transform: translate3d(0, 500px, 0);
                transform: translate3d(0, 500px, 0);
            }

            60% {
                opacity: 1;
                -webkit-transform: translate3d(0, -25px, 0);
                transform: translate3d(0, -25px, 0);
            }

            75% {
                -webkit-transform: translate3d(0, 10px, 0);
                transform: translate3d(0, 10px, 0);
            }

            90% {
                -webkit-transform: translate3d(0, -5px, 0);
                transform: translate3d(0, -5px, 0);
            }

            100% {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }

        .gotop {
            width: 50px;
            height: 50px;
            position: fixed;
            bottom: 1000px;
            right: 20px;
            cursor: pointer;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: .9s ease-out;
            transition: .9s ease-out;
        }

        .gotop.-on {
            opacity: 1;
            visibility: visible;
            bottom: 30px;
        }

        /* --rwd-- */

        @media screen and (min-width: 1401px) {
            h1 {
                margin: 6.25rem auto 3.75rem;
            }
        }

        @media screen and (max-width: 1400px) {
            h1 {
                width: 170px;
                margin: 6.25rem auto 3.75rem;
            }
        }

        @media screen and (max-width: 900px) {
            main {
                width: 90%;
            }

            h1 {
                width: 145px;
                margin: 6.25rem auto 3.75rem;
            }
        }

        @media screen and (max-width: 575px) {
            main {
                width: 100%;
                padding: 0 8px;
                overflow-x: hidden;
            }

            h1 {
                width: 120px;
                margin: 6.25rem auto 3.75rem;
            }

            .rank {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

            .food {
                width: 50%;
                margin: 10px auto;
            }

            .news .event {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                margin: 10px auto;
            }

            .news {
                border: 8px solid #154733;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                border-radius: 35px;
            }

            .news .event4 {
                display: none;
            }

            .news .more {
                margin-bottom: -1px;
            }

            iframe {
                width: 100px;
                height: 100px;
            }

            .gotop.-on {
                right: 10px;
                bottom: 90px;
            }

            .banner img {
                display: none;
            }

            .banner {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                background-image: url(../img/banner05.jpg);
                width: 100%;
                height: 200px;
                overflow: hidden;
                background-size: cover;
                background-position: left top;
            }
        }