.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-image: url("../img/contents_bg.jpg");
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.container.container-fir {
    -webkit-animation-name: fir;
    animation-name: fir;
}

.container section {
    width: 50%;
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

div.breakfast {
    height: 6rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

div.brunch {
    height: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    background-image: url("../img/contents_bg.jpg");
}

.container main {
    width: 50%;
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-image: url("../img/contents_bg.jpg");
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.img_breakfast {
    padding: 10px;
}

.img_brunch {
    padding: 10px;
}

h1 {
    position: absolute;
    color: #FFF;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60px;
    margin: auto;
    font-weight: bold;
    white-space: nowrap;
    font-size: 2rem;
    height: 40px;
    line-height: normal;
    text-transform: uppercase;
}

.top {
    width: 100%;
    position: relative;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: d-down 500ms cubic-bezier(1, 0, 0.7, 1.3);
    animation: d-down 500ms cubic-bezier(1, 0, 0.7, 1.3);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.top img {
    vertical-align: middle;
}

nav a:nth-child(2) {
    color: #ffa756;
}

h2 {
    font-size: 2rem;
    margin: auto;
    color: white;
    background-color: #ee772b;
    width: 135px;
    border-radius: 20px;
    padding: 0.7rem 0.1rem;
    font-weight: bold;
}

.hidezone {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #002;
    width: 100%;
    /* height: 200px; */
    filter: alpha(opacity=30);
    /*設定透明度為60%*/
    opacity: 0.5;
    display: none;
    z-Index: 2;
}


.hidepic.b {
    position: fixed;
    display: none;
    z-Index: 3;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
    top: 50%;
    left: 50%;
    width: 67%;
}

.hidepic.m {
    position: fixed;
    display: none;
    z-Index: 3;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
    top: 50%;
    left: 50%;
    width: 67%;
}

/* --rwd-- */
@media (max-width: 1350px) {
    .hidepic.b {
        width: 55%;
    }

    .hidepic.m {
        width: 55%;
    }
}

@media (max-width: 1140px) {
    .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .container section {
        width: 80%;
    }

    .container main {
        width: 80%;
    }

    .hidepic.b {
        width: 90%;
    }

    .hidepic.m {
        width: 90%;
    }
}

@media (max-width: 901px) {
    .hidepic.b {
        width: 80%;
    }

    .hidepic.m {
        width: 80%;
    }
}

@media (max-width: 575px) {
    .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .container section {
        width: 100%;
    }

    .container main {
        width: 100%;
        padding-bottom: 15px;
    }

    .container h2 {
        width: 90px;
    }

    h1 {
        width: 40px;
    }

    .img_breakfast {
        padding: 0px;
    }

    .img_brunch {
        padding: 0px;
    }

    .hidepic.b {
        width: 90%;
    }

    .hidepic.m {
        width: 90%;
    }
}

@media (max-width: 330px) {
    .hidepic.b {
        width: 90%;
    }

    .hidepic.m {
        width: 90%;
    }
}