.container {
    display: flex;
    width: 100%;
    background-image: url("../img/contents_bg.jpg");
    animation-duration: 1s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

.container.container-fir {
    animation-name: fir;
}

section {
    width: 50%;
    font-size: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.breakfast {
    height: 6rem;
    text-align: center;
    display: flex;

}

div.brunch {
    height: 6rem;
    display: flex;
    text-align: center;
    background-image: url("../img/contents_bg.jpg");
}

main {
    width: 50%;
    font-size: 0;
    display: flex;
    flex-direction: column;
    background-image: url("../img/contents_bg.jpg");
    align-items: center;
}

.img_breakfast {
    padding: 10px;
}

.img_brunch {
    padding: 10px;
}

h1 {
    position: absolute;
    color: #FFF;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60px;
    margin: auto;
    font-weight: bold;
    white-space: nowrap;
    font-size: 2rem;
    height: 40px;
    line-height: normal;
    text-transform: uppercase;
}

.top {
    width: 100%;
    position: relative;
    transform-origin: 50% 0;
    animation: d-down 500ms cubic-bezier(1, 0, 0.7, 1.3);
    animation-fill-mode: both;
}

.top img {
    vertical-align: middle;
}

nav a:nth-child(2) {
    color: #ffa756;
}

h2 {
    font-size: 2rem;
    margin: auto;
    color: white;
    background-color: #ee772b;
    width: 135px;
    border-radius: 20px;
    padding: 0.7rem 0.1rem;
    font-weight: bold;
}

.hidezone {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #002;
    width: 100%;
    /* height: 200px; */
    filter: alpha(opacity=30);
    /*設定透明度為60%*/
    opacity: 0.5;
    display: none;
    z-Index: 2;
}


.hidepic.b {
    position: fixed;
    display: none;
    z-Index: 3;
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
    top: 50%;
    left: 50%;
    width: 67%;
}

.hidepic.m {
    position: fixed;
    display: none;
    z-Index: 3;
    transform: translateX(-50%) translateY(-50%);
    background-color: #fff;
    top: 50%;
    left: 50%;
    width: 67%;
}

/* --rwd-- */

@media (max-width: 1140px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    section {
        width: 80%;
    }

    main {
        width: 80%;
    }

}

@media (max-width: 575px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    section {
        width: 100%;
    }

    main {
        width: 100%;
        padding-bottom: 15px;
    }

    h2 {
        width: 90px;
    }

    h1 {
        width: 40px;
    }

    .img_breakfast {
        padding: 0px;
    }

    .img_brunch {
        padding: 0px;
    }

}