h1 {
    position: absolute;
    color: #FFF;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 120px;
    height: 35px;
    margin: auto;
    font-weight: bold;
    white-space: nowrap;
    font-size: 2em;
    width: 145px;
    height: 40px;
    line-height: normal;
    text-transform: uppercase;
}

.top {
    width: 100%;
    /* height: 300px; */
    /* border: 5px solid red; */
    /* background-image: url("../img/inner_top.jpg"); */
    /* background-size: 100% 100%; */
    /* background-repeat: no-repeat; */
    position: relative;
}

.top img {
    /* display: inline; */
    vertical-align: middle;
}

.container {
    width: 100%;
    background-image: url("../../img/contents_bg.jpg");
    text-align: center;
    animation-duration: 1s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

.container.container-fir {
    animation-name: fir;
}

main {
    width: 70%;
    margin: auto;
    /* height: 1200px; */
    /* border: 5px solid aliceblue; */
    padding-top: 50px;


}

main img {
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid red; */
}

h3 {
    /* border: 5px solid #121213; */
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: #154733;
    /* border-bottom: 3px solid #000; */
    /* padding-bottom: -1000px; */
    /* position: relative; */
    /* margin-bottom: 100px; */
    /* border: 1px solid rosybrown; */
    margin: 0 0 0 0;


}

h3::after {
    content: "";
    display: inline-block;
    height: 5px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.05), #154733, rgba(0, 0, 0, 0.05));
    width: 100%;
    /* margin-top: 100px; */
    /* position: absolute; */
    margin: 0px 0px 0px 0px;


}

.card {
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding: 50px;
}

h4 {
    font-size: 1.8rem;
    color: #2990D0;
    font-weight: bold;
    margin: 50px;
}

h5 {
    font-size: 1.6rem;
    color: #EAA861;
    /* font-weight: bold; */
    margin: 0 0 30px 0;

}

main p {
    font-size: 1.4rem;
    text-align: justify;
    text-justify: inter-ideograph;
    margin: 0 0 50px 0;

}

.back {
    text-align: center;
    font-size: 1.4rem;
    color: white;
    /* border-bottom: 5px dotted black; */
    margin: 0 auto 0px;
    background-color: #ee772b;
    width: 170px;
    /* height: 80px; */
    border-radius: 15px;
    padding: 5px 10px;
    font-weight: bold;
}

main span {
    position: absolute;
    bottom: 50px;
    right: 0;
    color: #ed772a;
    font-weight: bold;
}

main a {
    text-decoration: none;
    color: white;
}

/* --rwd-- */
@media screen and (min-width: 1401px) {}

@media screen and (min-width: 901px) and (max-width: 1400px) {


    h1 {
        width: 120px;
    }

    main {
        width: 80%;
    }
}

@media screen and (min-width: 576px) and (max-width: 900px) {


    h1 {
        width: 100px;
    }

    main {
        width: 90%;
    }

    .card {
        width: 85%;
    }

}

@media screen and (max-width: 575px) {
    h1 {
        width: 80px;
    }

    main {
        width: 100%;
    }

    .card {
        width: 90%;
    }
}