h1 {
    position: absolute;
    color: #FFF;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 120px;
    height: 35px;
    margin: auto;
    font-weight: bold;
    white-space: nowrap;
    font-size: 2em;
    width: 145px;
    height: 40px;
    line-height: normal;
    text-transform: uppercase;
}

.top {
    width: 100%;
    position: relative;
}

.top img {
    vertical-align: middle;
}

.container {
    width: 100%;
    background-image: url("../../img/contents_bg.jpg");
    font-size: 0;
    animation-duration: 1s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

.container.container-fir {
    animation-name: fir;
}

.main {
    margin: auto;
    width: 80%;
    font-size: 0;
    display: flex;
}

.left {
    display: flex;
    width: 20%;
    border-right: 3px solid #00000054;
    padding-right: 1rem;

}

.right {
    display: inline-block;
    width: 80%;
    padding: 20px;
}

.time {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.kind {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.breakfast,
.brunch {
    width: 100%;
    text-align: center;
}

.bf,
.bh {
    height: 350px;
    text-align: center;
    width: 100%;
}

.time p {
    font-size: 1.5rem;
    padding: 15px;
    background-color: #154733;
    color: #fff;
    font-weight: bold;
    height: 70px;
}

.kind p {
    font-size: 1.5rem;
    border: 1px solid black;
    padding: 15px;
    background-color: blanchedalmond;
    font-weight: bold;
    color: #154733;
    border-collapse: collapse;
    margin: -0.5px -0.5px -0.5px -0.5px;
    height: 70px;
}

.bd {
    padding: 10px;
}

.bd li {
    display: inline-block;
    color: #42735d;
    font-size: 1.3rem;
    padding: 0 10px;
}

.bd a {
    text-decoration: none;
    color: #42735d;
}

.bd li+li::before {
    content: '/';
    color: #42735d;
    margin-right: 10px;
}

h3 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: #154733;
}

h3::after {
    content: "";
    display: inline-block;
    height: 5px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.05), #154733, rgba(0, 0, 0, 0.05));
    width: 100%;

}

h4 {
    text-align: center;
    font-size: 1rem;
    color: #154733;
}




.kind .breakfast {
    display: flex;
    flex-direction: column;
    padding-top: 70px;

}

.kind .brunch {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

main article {
    width: 50%;
    /* border: 5px solid rgb(14, 163, 106); */
    height: 100%;
    min-width: 400px;

}

main section {
    width: 50%;
    height: 100%;
    min-width: 400px;

}

.burger {
    width: 80%;
    margin: 2rem auto;
    background-color: white;
    box-shadow: 3px 3px 5px 6px #cccccc;
}

.burger img {
    background-color: white;
}

table {
    font-size: 1.4rem;
    width: 100%;
    margin: 0 auto;
}

tr,
td {
    border-bottom: 3px solid #42735d62;
    padding: 6px;

}

h4 {
    font-size: 1.8rem;
    margin: 10px;
    font-weight: bold;
}

.price {
    font-size: 1.4rem;
    text-align: right;
    padding: 6px;
    font-weight: bold;
    margin: 15px auto;
}

.buy {
    text-align: center;
    font-size: 1.4rem;
    color: white;
    margin: 15px auto;
    background-color: #ee772b;
    width: 170px;
    border-radius: 15px;
    padding: 5px 10px;
    font-weight: bold;
}

.list {
    width: 80%;
    margin: auto;
}

/* --rwd-- */
@media screen and (min-width: 1401px) {}

@media screen and (min-width: 901px) and (max-width: 1400px) {
    .time p {
        font-size: 1.3rem;
        white-space: nowrap;
    }

    .kind p {
        font-size: 1.3rem;
        white-space: nowrap;
    }
}

@media screen and (min-width: 576px) and (max-width: 900px) {
    h1 {
        width: 100px;
        font-size: 1.4rem;
    }

    .main {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .left {
        margin-top: 50px;
        width: 100%;
        border-right: none;
        flex-direction: column;
        align-items: center;
    }

    .bf,
    .bh {
        text-align: center;
        height: auto;

    }

    .time {
        width: 70%;
        flex-direction: row;
    }

    .kind {
        flex-direction: row;
        margin-top: 0;
        padding-top: 0;
        width: 70%;
    }

    .breakfast p,
    .brunch p {
        text-align: center;
    }

    .kind .breakfast,
    .kind .brunch {
        text-align: center;
        padding-top: 0px;
    }

    .bd {
        text-align: center;
        margin: 50px 0;
    }

    .right {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    h1 {
        width: 80px;
    }

    .main {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .left {
        margin-top: 50px;
        width: 100%;
        border-right: none;
        flex-direction: column;
        align-items: center;
    }

    .bf,
    .bh {
        text-align: center;
        height: auto;

    }

    .time {
        width: 70%;
        flex-direction: row;
    }

    .kind {
        flex-direction: row;
        margin-top: 0;
        padding-top: 0;
        width: 70%;
    }

    .breakfast p,
    .brunch p {
        text-align: center;
    }

    .kind .breakfast,
    .kind .brunch {
        text-align: center;
        padding-top: 0px;
    }

    .bd {
        text-align: center;
        margin: 50px 0;
    }

    .right {
        width: 100%;
    }
}